a {
    color:cornflowerblue; /* Default link color */
  }
  
  a:active {
    color:mediumseagreen; /* Color when actively clicked */
  }
  
  a:visited {
    color: palevioletred; /* Color after being visited */
  }


h1{
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    text-align: center;
}


  

h2{
    font-size: 40px;
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}


p{
    font-size: 20px;
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
}

b{
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
}

.page-nav {
    font-size: 40px;
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.wrapper{
    margin: 10px auto;
    width: 700px;
}

.quote-wrapper{
    margin: 10px auto;
    width: 500px;
}
