/* Layout */
body {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding: 40px;
    background: black;
  }
  .letter {
    position: relative;
    width: 200px;
    height: 300px;
    ;
  }
  .stem {
    position: absolute;
    left: 0;
    background-color: #ecece7;
  }
  .arm {
    position: absolute;
    width: 140px;
    height: 40px;
    background-color: #d0d1c4;
    transform-origin: left;
  }







  .k1 .stem {
    border-radius: 20px;
    width: 40px;
    height: 100%;
  }
  .k1 .arm {
    border-radius: 20px;
    width: 40px;
    height: 70%;
  }
  .k1 .arm-top{
    bottom: -39px;
    left: 90px;
  }
  .k1 .arm-bottom{
    top: -50px;
    left: 110px;
  }


  .k2 .stem {
    
    width: 60px;
    height: 100%;
  }
  .k2 .arm-top{
    
    left: 210px;
    width: 140px;
    height: 150px;
    border-top-left-radius: 100%;
    transform: rotate(180deg);
  }
  .k2 .arm-bottom {
    
    bottom: 80px;
    left: 140px;
    width: 150px;
    height: 140px;
    border-top-left-radius: 100%;
    transform: rotate(-270deg);
  }



  .k3 .stem {
    
    width: 20px;
    height: 100%;
  }
  .k3 .arm-top{
    
    top: 57px;
    left: 110px;
    width: 87px;
    height: 20px;
  }
  .k3 .arm-bottom {
    
    bottom: 67px;
    left: 120px;
    width: 100px;
    height: 20px;
    
  }
 

  .k4 .stem {
    
    width: 40px;
    height: 100%;
  }
  .k4 .arm-top {
    top: 0 px;
    left: 60px;
    width: 0;
    height: 0;
    border-top: 140px solid #d0d1c4;
    border-right: 140px solid transparent;
    background: none;
    transform: none;
  }
  .k4 .arm-bottom {
    bottom: 0px;
    left: 60px;
    width: 0;
    height: 0;
    border-bottom: 140px solid #d0d1c4;
    border-right: 140px solid transparent;
    background: none;
    transform: none;
  }
  
  .k5 .stem {
    top: 0 px;
    left: 0px;
    width: 0;
    height: 0;
    border-top: 200px solid #ecece7;
    border-right: 200px solid transparent;
    background: none;
    transform: none;
  }
  .k5 .arm-top {
    top: 0 px;
    left: 0px;
    width: 0;
    height: 0;
    border-top: 100px solid black;
    border-right: 100px solid transparent;
    background: none;
    transform: none;
   
  }
  .k5 .arm-bottom {
    bottom: 0px;
    left: 0px;
    width: 0;
    height: 0;
    border-bottom: 100px solid black;
    border-right: 100px solid transparent;
    background: none;
    transform: none;
  
  }
  .k5 .arm-bottom2 {
    bottom: 0px;
    left: 0px;
    width: 0;
    height: 0;
    border-bottom: 200px solid #d0d1c4;
    border-right: 200px solid transparent;
    background: none;
    transform: none;
  
  }









  /* changing the degree of the arms */
  .k1 .arm-top {
    transform: rotate(-40deg) translateX(10px);
  }
  .k1 .arm-bottom {
    transform: rotate(40deg) translateY(20px);
  }
  
 
  
  /* K3 arms */
  .k3 .arm-top {
    transform: rotate(-35deg) scaleX(1.2);
  }
  .k3 .arm-bottom {
    transform: rotate(50deg) translateY(-10px);
  }

  
