body {
  background-color: #fdf9f6;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "unbounded", sans-serif;
}

.dollhouse-title {
  text-align: center;
  margin-top: 2rem;
  font-size: 3rem;
  font-weight: 600;
  color: #161416;
}

.dollhouse-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dollhouse {
  width: 900px;
  height: auto;
  position: relative;
  z-index: 1;
}

.trigger {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  top: 50%;
  left: 50%;

  
}

.attic-trigger {
  width: 300px;
  height: 150px; 
  margin-top: -170px; 
  margin-left: -150px;
}

.bedroom-trigger {
  width: 180px; 
  height: 130px; 
  margin-top: -20px; 
  margin-left: -180px; 
}

.bathroom-trigger {
  width: 180px; 
  height: 130px; 
  margin-top: -20px; 
  margin-left: 0px; 
}

.kitchen-trigger {
  width: 180px;
  height: 130px; 
  margin-top: 115px; 
  margin-left: -180px; 
}

.livingroom-trigger {
  width: 180px; 
  height: 130px; 
  margin-top: 115px; 
  margin-left: 0px; 
}


.room-image {
  position: absolute;
  width: 900px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  pointer-events: none;
  object-fit: contain;
}

.attic-trigger:hover ~ .room-image.attic,
.bedroom-trigger:hover ~ .room-image.bedroom,
.bathroom-trigger:hover ~ .room-image.bathroom,
.kitchen-trigger:hover ~ .room-image.kitchen,
.livingroom-trigger:hover ~ .room-image.livingroom {
  opacity: 1;
}




.about-container {
  position: fixed;
  top: 42px;
  right: 200px;
  text-align: center;
  font-family: "unbounded", sans-serif;
  z-index: 4;
  width: 50px; 
}

.about-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  opacity: 0;
  cursor: pointer;
  z-index: 5;
}


.about-square {
  width: 50px;
  height: 50px;
  background-color: #3c60c6;

  display: flex;
  justify-content: right;
  align-items: right;
  transition: transform 0.4s ease;
}

.about-text {
  font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
  margin-top: 5px;
  font-size: 0.9rem;
  color: #161416;
  opacity: 0;
  transition: opacity 0.3s ease;
}


.about-container:hover .about-square {
  transform: rotate(360deg);
}

.about-container:hover .about-text {
  opacity: 1;
}


.about-description {
  margin-top: 10px;
  font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
  font-size: 0.9rem;
  color: #161416;
  width: 220px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
  text-align: left; /* left justify text */
}


.about-checkbox:checked ~ .about-description {
  opacity: 1;
  max-height: 200px;
}
.about-description a {
  color: #e23146;
  text-decoration: none; /* removes underline */
  font-weight: 500;
}

.about-description a:hover {
  text-decoration: underline; /* underline on hover for clarity */
}

