body {
  background-color: #fdf9f6;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "unbounded", sans-serif;
}

.dollhouse-title {
  text-align: center;
  margin-top: 2rem;
  font-size: 3rem;
  font-weight: 600;
  color: #161416;
}

.dollhouse-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dollhouse {
  width: 900px;
  height: auto;
  position: relative;
  z-index: 1;
}

.trigger {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  top: 50%;
  left: 50%;

  
}

.attic-trigger {
  width: 300px;
  height: 150px; 
  margin-top: -170px; 
  margin-left: -150px;
}

.bedroom-trigger {
  width: 180px; 
  height: 130px; 
  margin-top: -20px; 
  margin-left: -180px; 
}

.bathroom-trigger {
  width: 180px; 
  height: 130px; 
  margin-top: -20px; 
  margin-left: 0px; 
}

.kitchen-trigger {
  width: 180px;
  height: 130px; 
  margin-top: 115px; 
  margin-left: -180px; 
}

.livingroom-trigger {
  width: 180px; 
  height: 130px; 
  margin-top: 115px; 
  margin-left: 0px; 
}


.room-image {
  position: absolute;
  width: 900px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  pointer-events: none;
  object-fit: contain;
}

.attic-trigger:hover ~ .room-image.attic,
.bedroom-trigger:hover ~ .room-image.bedroom,
.bathroom-trigger:hover ~ .room-image.bathroom,
.kitchen-trigger:hover ~ .room-image.kitchen,
.livingroom-trigger:hover ~ .room-image.livingroom {
  opacity: 1;
}
