
  body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  #0a99ff;
    
  
    overflow: hidden;
    position: relative;
    
  }
 
  .noiseOverlay {
    position: absolute;
    inset: 0; 
    pointer-events: none; 
    filter: url(#noiseFilter);
    opacity: 0.95; 
    mix-blend-mode: screen;
    z-index: 4; 
  }
  
  .sunSetColor{
    width: 100vw;
    height: 800px;
    background: linear-gradient(#ff5100, #ffea07 ,#ffea07 ,#fff04f, #0a99ff);
    filter: blur(80px);
    
    position: absolute;
    
    transform-origin: center;
    animation: sunsetSky 3s forwards;
  }

  .sunCircle{
    width: 800px;
    height: 800px;
   
    background: radial-gradient(circle, #ff9900, #ff3c00 90%);
    filter: blur(20px);
    border-radius: 50%;        
    box-shadow: 0 0 20px #ff4400;
    position: absolute;
    
    transform-origin: top;
    animation: sunset 3.9s forwards;
  }
  


  .menuContainer {
    position: relative;
    width: 0;
    height: 0;
    z-index: 5;
    
  }
  
 
  .dayMenuFront {
    width: 330px;
    height: 550px;
    background: white;
    position: absolute;
    top: 50%;
    transform:
      translate(-100%, -40%)   
      rotate(-4deg);
  
    transform-origin: center;
    transition: transform 0.4s ease;
  }
  
  .dayMenuBack {
    width: 330px;
    height: 550px;
    background: #CBEE1C;
    position: absolute;
  
    transform:
      translate(-1%, -45%)   
      rotate(2deg);
  
    transform-origin: center;
    transition: transform 0.4s ease;
  }

  .dayMenuFront:hover {
    transform:
      translate(-85%, -45%)
      rotate(0deg)
      scale(1.05);
      z-index: 6;
  }
  
  .dayMenuBack:hover {
    transform:
      translate(-18%, -45%)
      rotate(0deg)
      scale(1.05);
      z-index: 6;
  }
  
  @keyframes sunset {
    0% {
      top: -140%;
      opacity: 8%;
    }

    100% {
      top: 60%; 
      scale: 1.5;
      
    }
}
@keyframes sunsetSky {
    0% {
      top: -90%;
      opacity: 10%;
    }
    100% {
      top: 60%; 
      scale: 1.5;
      
    }
}