.controls{
	text-align: center;
	margin-top: 3rem;
}
.elementcontainer {
	display: flex;
  flex-wrap: wrap;
  justify-content: centered;
  align-content: centered;
  width: 100vw;
  height: 100vh;
}


.element {
	position: relative;
	width: 100px;
	height: 100px;
	margin: 10px;
	
}

.element2 {
	position: relative;
	width: 100px;
	height: 100px;
	margin: 10px;
	
}

.element:hover{
	cursor: pointer;
}


.play{
	animation: wheel 2s ease-in-out infinite;
}

@keyframes wheel {
	0%, 100%{
		transform: translateX(0);

	}
	50% {
		transform: translateX(-20px);
	}
}

.element2:hover{
	cursor: pointer;
}
.element2.play {
	animation: bounce 2s ease-in-out infinite;
  }
  
  @keyframes bounce {
	0%, 100% {
	  transform: translateY(0);
	}
	50% {
	  transform: translateY(-20px);
	}
  }