
#play{
	width: 100px;
	height: 100px;
	background-color: green;
}
#pause{
	width: 100px;
	height: 100px;
	background-color: red;
}

.controls{
	align-items: center;
	margin-top: 8rem;
	
}



.elementcontainer {
	height: 80vh;
	display: flex;
  	align-items: center;
  	align-content: center;
  	-webkit-flex-flow: wrap;
  	justify-content: center;
	  
}


.element {
	width: 100px;
	height: 100px;
	margin: 10px;
	transition: background-color 800ms ease-in;
	background-color: red;
}

.element:hover{
	cursor: pointer;
}




.play{
	background-color: rgb(255 0 230);
	animation: wheel 1s ease-in-out infinite;
}

@keyframes wheel {
	0% {
		transform: rotate(50deg) scaleX(1);
	}
	100% {
		transform: rotate(50deg) scaleX(6);
	}
}

